.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache
private/
.replit
replit.nix
!.obsidian/snippets/*
.vscode
**/__pycache__
*.swp
.obsidian/*
!.obsidian/snippets/*
.vscode
**/__pycache__
